* {
    margin:0;
    padding:0;
}
body {
    background:url(images/background.gif);
    font-family:Verdana, Arial,Helvetica,sans-serif;
    font-size:12px;
    background-repeat:repeat-x;
    background:#000;
}
.fleft {
    float:left;
}
.fright {
    float:right;
}
.fclear {
    clear:both;
}
p {
    padding:10px 10px 10px 20px;
    display:block;
    color:#525757;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:bold;
}
a {
    color:#6b7272;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:bold;
}
#container {
    margin:0 auto;
    text-align:left;
    width:860px;
}
.inner_copy {
    border:0;
    color:#f00;
    float:left;
    width:50% !important;
    margin:-100% 0 0 0;
    overflow:hidden;
    line-height:0;
    padding:0;
    font-size:11px;
}
#header {
    height:304px;
    width:777px;
    background:url(images/header.jpg);
    background-repeat:no-repeat;
}
#content {
    
}
#left {
    width:192px;
    float:left;
}
#middle {
    margin-left:206px;
    margin-right:196px;
    width:450px;
}
#right {
    width:192px;
    float:right;
}
/* menu */
.menuheader {
    width:192px;
    height:37px;
    background:url(images/menutop.gif);
    display:block;
}
.menucontent {
    width:192px;
    background:url(images/menumiddle.gif);
    padding-top:10px;
    background-repeat:repeat-y;
}
.menuheader h3 {
    padding:10px 0 0 20px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:18px;
    font-weight:bold;
}
.menufooter {
    width:192px;
    height:15px;
    background:url(images/menubottom.gif);
    display:block;
}
.postheader,.menuheader {
    color:#ccc;
    text-transform:uppercase;
}
/* post */
.post {
    margin-bottom:15px;
}
.postheader {
    background:url(images/posttop.gif);
    display:block;
    width:450px;
    height:33px;
}
.postheader h1 {
    padding:7px 0 0 20px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:18px;
    font-weight:bold;
}
.postcontent {
    background:url(images/postmiddle.gif);
    background-repeat:repeat-y;
    padding:20px 0;
    color:#FFF;
}
#content {
        margin-left: 20px;
}
.postfooter {
    background:url(images/postbottom.gif);
    background-repeat:no-repeat;
    display:block;
    width:450px;
    height:15px;
}
/* header */
#header {
    position:relative;
}
#header ul {
    position:absolute;
    top:250px;
    display:block;
    left:190px;
}
#header ul li {
    display:inline;
    text-align:center;
    margin:auto;
    width:auto;
    border-right:1px solid #6b7272;
}
.last {
    border-right:0 none #6b7272 !important;
}
#header ul li a {
    display:inline;
    text-align:center;
    text-decoration:none;
    padding:0 10px;
    text-transform:uppercase;
}
#header ul li a:hover {
    text-decoration:underline;
}
/* footer */
#footer {
    width:850px;
}
#footer ul {
    display:block;
    margin-left:190px;
}
#footer ul li {
    display:inline;
    text-align:center;
    margin:auto;
    width:auto;
    border-right:1px solid #6b7272;
}
#footer ul li a {
    display:inline;
    text-align:center;
    text-decoration:none;
    padding:0 10px;
    text-transform:uppercase;
}
#footer ul li a:hover {
    text-decoration:underline;
}
#footer span {
    color:#525757;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    width:850px;
    display:block;
    padding:15px 0;
}
/* menu members */
.menu ul {
    list-style-position:inside;
    list-style-type:disc;
    padding:0 0 0 20px;
    color:#666;
}
.menu ul li {
    padding-top:5px;
    color:#666;
}
.menu ul li a {
    text-decoration:none;
    padding:0;
    text-transform:uppercase;
}
.menu ul li a:hover {
    text-decoration:underline;
    text-transform:uppercase;
}
.member {
    display:inline;
    float:left;
    margin-left:10px;
}
.member span {
    display:block;
    text-align:center;
    padding:2px 0 13px 0;
    text-transform:uppercase;
}
.member img {
    width:75px;
    height:70px;
    border:solid 2px #999;
}
.clear {
    clear:both;
}

.table {
    width: 400px;
}
.table th {
    font-weight: 800;
}
.alert {
    width: 400px;
    padding: 3px;
}
.alert-error {
    background: #bd362f;
}
.alert-success {
    background: #46a546;
}

form {
    
}
label {
    width: 100px;
}